.post {
  display: block;
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.post_content {
  img {
    max-width: 100%;
  }
}

.post_header {
  @include clearfix;
}

.post_author {
  display: inline-block;
  float: left;
}

.post_author-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post_author-name {
  display: inline-block;
  vertical-align: middle;
}

.post_title {
  font-size: 1.5em;
  text-transform: capitalize;
}

.post_date {
  float: right;
  opacity: 0.6;
}

.post_tags {
  margin: 10px -5px;
}

.post_tag {
  display: inline-block;
  margin: 0 5px;
}

.post_likes {
  margin: 10px 0 0;
}

.post_footer {
  margin: 20px 0 0;
  font-size: 0.8em;
}